.portlet-decorate .portlet-content {
  background: transparent;
}

.portlet-title-text {
  display: none;
}

.metadata-author {
  display: none;
}

span.asset-title.d-inline {
  display: none !important;
}
